*{
    color:white;
}

*::selection{
    background: white;
    color:black;
}

body{
    background: url(darkTile.png) center 0;
    background-attachment: fixed;
    background-color: gray;
}

body > div{
    background:rgba(0, 0, 0, 0.8);
}

a{
    color:cyan;
}

a::selection{
    background: cyan;
}

.resizableTable tr:first-child{
    background: #262626;
}

.resizableTable tr:first-child ~ tr{
    background: #1A1A1A;
}