*{
    color:black;
}

*::selection{
    background: black;
    color:white;
}

body{
    background: url(lightTile.png) center 0;
    background-attachment: fixed;
    background-color: gray;
}

body > div{
    background:rgba(255, 255, 255, 0.8);
}

a{
    color:blue;
}

a::selection{
    background: blue;
}

.resizableTable tr:first-child{
    background: #D9D9D9;
}

.resizableTable tr:first-child ~ tr{
    background: #E6E6E6;
}